@{
    ViewBag.Title = "Repositorify ~ imagify your life";
}

<div class="h-100 row align-items-center">
    <div class="col">
        <div class="row">
            <div class="col text-center">
                <h1 class="header">
                    <i class="fas fa-archive"></i>
                    Repositorify
                </h1>
            </div>
        </div>

        <div class="row justify-content-center mt-2">
            <div class="col-lg-4 col-md-8 col-12 text-center">
                <div class="input-group mb-3">
                    @(Html.Kendo().AutoComplete()
                          .Name("completeSearch")
                          .Filter("contains")
                          .Placeholder("search images by tag... i.e., dark")
                          .DataSource(source =>
                          {
                              source.Read(read =>
                              {
                                  read.Action("Tags_Read", "Home");
                              })
                              .ServerFiltering(false);
                          })
                          .DataTextField("Id")
                          .HtmlAttributes(new { @class = "form-control" })
                          .ClearButton(false)
                    )
                    @*<input type="text" class="search form-control" placeholder="search for image by tag..." />*@
                    <div class="input-group-append">
                        <button class="input-group-text bg-warning">
                            <i class="fas fa-search mx-3"></i>
                        </button>
                    </div>
                </div>
            </div>  
        </div>

        <div class="row">
            <div class="col text-center">
                <a href="#upload" data-toggle="modal" data-target="#modalUpload">or click here to upload an image</a>
            </div>
        </div>
    </div>
</div>

@Html.Partial("Modals/UploadModal")