@{
    ViewBag.Title = "Repositorify ~ imagify your life";
}

<div class="container h-100">
    <div class="row h-100 align-items-center">
        <div class="col text-center">
            <div class="row">
                <div class="col">
                    <h1 class="header">
                        <i class="fas fa-archive"></i>
                        Repositorify
                    </h1>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col">
                    <div class="input-group mb-3">
                        @(Html.Kendo().AutoComplete()
                            .Name("completeSearch")
                            .Filter("contains")
                            .Placeholder("search images by tag... i.e., dark")
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("Tags_Read", "Home");
                                })
                                .ServerFiltering(false);
                            })
                            .DataTextField("Id")
                            .HtmlAttributes(new { @class = "form-control" })
                            .ClearButton(false)
                        )
                        <div class="input-group-append">
                            <button id="btnSearchTag" class="input-group-text bg-warning" onclick="searchTag()">
                                <i class="fas fa-search mx-3"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <a href="#upload" data-toggle="modal" data-target="#modalUpload">or click here to upload an image</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        Swal.fire({
            icon: 'info',
            title: 'Oops...',
            text: 'Please note that I am waiting on my web hosting to provide my server permissions to write on disk. For the time being, uploading files does not work! Sorry :('
        })

        $('.header').fitText(0.6);

        var input = document.getElementById("completeSearch");
        input.addEventListener("keyup", function (event) {
            // Number 13 is the "Enter" key on the keyboard
            if (event.keyCode === 13) {
                // Cancel the default action, if needed
                event.preventDefault();
                // Trigger the button element with a click
                document.getElementById("btnSearchTag").click();
            }
        });
    });

    function searchTag() {
        let tag = $("#completeSearch").val();
        window.location.href = "/Home/Tag/" + tag;
    }
</script>

@Html.Partial("Modals/UploadModal")