@model List<Repositorify.Models.Image>

@{
    ViewBag.Title = "Repositorify ~ Tag";
}

@if (Model.Count == 0)
{
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col text-center">
                <div class="row">
                    <div class="col">
                        <h1 class="header">
                            <i class="fas fa-archive"></i>
                            Repositorify
                        </h1>
                        <h2>No images found for this tag</h2>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col">
                        <a href="/Home" class="btn btn-light">
                            <i class="fas fa-arrow-left"></i>
                            Go Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.header').fitText(0.6);
        });
    </script>
    }

    @if (Model.Count > 0)
    {
        <div id="primary-slider" class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    @foreach (var image in Model)
                    {
                        <li class="splide__slide">
                            <img class="image" src="data:image/png;base64,@image.ImageData" />
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div id="secondary-slider" class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    @foreach (var image in Model)
                    {
                        <li class="splide__slide">
                            <img src="data:image/png;base64,@image.ImageData" />
                        </li>
                    }
                </ul>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                var secondarySlider = new Splide('#secondary-slider', {
                    rewind: true,
                    fixedWidth: 100,
                    fixedHeight: 64,
                    isNavigation: true,
                    gap: 10,
                    focus: 'center',
                    pagination: false,
                    cover: true,
                    breakpoints: {
                        '600': {
                            fixedWidth: 66,
                            fixedHeight: 40,
                        }
                    }
                }).mount();

                // Create the main slider.
                var primarySlider = new Splide('#primary-slider', {
                    type: 'fade',
                    heightRatio: 0.5,
                    pagination: false,
                    arrows: false,
                    cover: true,
                });

                // Set the thumbnails slider as a sync target and then call mount.
                primarySlider.sync(secondarySlider).mount();
            });
        </script>
    }
