@model List<Repositorify.Models.ViewModels.ImageViewModel>

@{
    ViewBag.Title = "Repositorify ~ Tag";
}

@{ 
    var containerClass = "container";
    if (Model != null && Model.Count > 0)
    {
        containerClass = "container-md";
    }
} 
<div class="@containerClass h-100 tag-container">
    <div class="row h-100 align-items-center">
        <div class="col text-center">
            @if (Model == null || Model.Count == 0)
            {
                <div class="row">
                    <div class="col">
                        <h1 class="header">
                            <i class="fas fa-archive"></i>
                            Repositorify
                        </h1>
                        <h2>No images found for this tag</h2>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col">
                        <a href="/Home" class="btn btn-light">
                            <i class="fas fa-arrow-left"></i>
                            Go Back
                        </a>
                    </div>
                </div>

                <script>
                    $(document).ready(function () {
                        $('.header').fitText(0.6);
                    });
                </script>
            }
            else
            {
                <div class="card text-white bg-custom">
                    <div class="card-header">
                        <a href="/" class="header" style="font-size: 50px;">
                            <i class="fas fa-archive"></i>
                            Repositorify
                        </a>
                    </div>
                    <div class="card-body">
                        <div id="slideContainer" class="">
                            @foreach (var image in Model)
                            {
                                <a class="img-container" href="@image.Image" data-sub-html="@foreach (var tag in image.Tags) { <a href='/Home/Tag/@tag'><span class='badge badge-primary'>@tag</span></a> } ">
<img src="@image.Thumbnail" class="img mb-1" />
                                    <span class="overlay">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </a>
                            }
                        </div>
                    </div>
                </div>
        
                <script>
                    $(document).ready(function () {
                        lightGallery(document.getElementById('slideContainer'));
                    });
                </script>
            }
        </div>
    </div>
</div>