html, body {
    height: 100%;
}

body {
    background-image: url('Images/background.jpg');
    background-position: 50% 0;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

.header {
    font-family: 'Lobster', sans-serif;
    font-size: 100%;
}

.search {
    padding: 25px 20px !important;
}

a, a:hover {
    color: white;
}

.k-autocomplete {
    width: 100%;
}

.k-action-buttons {
    display: none;
}