html, body {
    height: 100%;
}

body {
    background-image: url('Images/background.jpg');
    background-position: 50% 0;
}

@media (min-width: 1200px) {
    .container {
        max-width: 600px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 600px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 600px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

.header {
    font-family: 'Lobster', sans-serif;
    font-size: 100%;
}

.search {
    padding: 25px 20px !important;
}

a, a:hover {
    color: white;
}

.k-autocomplete {
    width: 100%;
}

.k-action-buttons {
    display: none;
}

.card-img-container {
    background-image: url('/Content/Images/transparent.png');
    height: 128px !important;
    /*width: 128px !important;*/
}

.card-img-top {
    max-height: 100% !important;
    max-width: 100% !important;
    position: relative !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%) !important;
}

.card-center {
    left: 50%;
    transform: translateX(-50%);
}

.bg-custom {
    background-image: linear-gradient(#595037, #3e2f09);
    box-shadow: 0px 0px 57px #0d0c0c;
}

.img {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.img-container {
    position: relative;
    width: 50%;
}

.img-container:hover .img {
    opacity: 0.3;
}

.img-container:hover .overlay {
    opacity: 1;
}
